.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90%;
  height: 100px;
  //   padding-bottom: -50px;
  //   margin-bottom: 10px;
  //   border-bottom: solid darkgrey;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 1;
  background-color: #1D2528;
  & > img {
    width: 150px;
    height: 150px;
    flex: 10%;
  }
}

.searchbar {
  flex: 90%;
  /* margin-top: 10px; */
  /* width: 550px; */
  height: 20px;
  padding: 10px;
  vertical-align: middle;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

::ng-deep.searchbar > .mat-form-field {
  width: 90%;
}
